{% extends 'templates/base.twig'  %}


{% block title %}
    Leelas Motel - An Elegant Stay |Booking
{% endblock %}



{% block pageCss %}

    <link rel="stylesheet" href="{{ base_url() }}/css/user_profile.css">
{% endblock %}


{% block content %}
    <div id="userCont">
            <div id="updateProfile">
                <h3>Update Profile</h3>
                <form>
                    <p>Name : </p>
                    <input name="name" id="custname" type="text" required>
                    <p>Address : </p>
                    <input id="custaddress" name="address" type="text" required>
                    <p>Contact No : </p>
                    <input name="mobile" id="custphno" type="tel" pattern="^\d{10}$" minlength="10" maxlength="10" required>
                    <button id="update-btn"  onclick="event.preventDefault();" class="bookBtn">Update Profile</button>
                </form>
            </div>
    </div>

    <div id="signuppage">
        <div id="cross">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div id="centerBox">
            <!-- This Box Will go here and there to change from Signup to login -->
            <!-- No change From BackEnd -->
            <div id="main">
                <div  class="text-white" id="box">
                    <h1 class="display-3" id="head">New Here?</h1>
                    <p class="lead" id="para">Sign up and discover a great amount  of new opportunities.</p>
                    <button type="button" class="btn-1 btn" id="btn" onclick="myfunction()">Sign Up</button>
                </div>

                <!--This is the Sign Up Block-->
                {% include 'templates/partials/signup.twig' %}


                <!-- This is the Log In Block-->
                {% include 'templates/partials/login.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block pageJs %}
    <!--<script src="{{ base_url() }}/js/booking.js"></script>-->
    <script src="{{ base_url() }}/js/userprofile.js"></script>
{% endblock %}
