.row p{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
}

.row > div > p{
    color: #444;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

.card .content {
    padding: 15px 15px 15px;
    width: 90%;
    margin: 20px auto;
}