body{
    background-color: #eee;    
}

#userCont{
    height: auto;
    padding: 0.5in;
    box-sizing: border-box;
    width: 70vw;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #eee;
}

#userCont>div{
    padding: 0.25in 0.5in; 
}

div>h3{    
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

p{
    font-family: 'Quicksand', sans-serif;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
}

th{
    text-align: left;
    font-weight: 500;
    color: #888;
    text-transform: uppercase;    
    font-family: 'Raleway', sans-serif;
}

th, td{
    border-bottom: 1px solid rgb(199, 198, 198);
    padding: 10px 20px;
}

td{    
    font-family: 'Quicksand', sans-serif;
}

tr:nth-of-type(1):hover{
    background-color: transparent;
}
tr:nth-of-type(even){
    background-color: rgb(240, 230, 230);
}

tr:hover, tr:nth-of-type(even):hover{
    background-color: #f8ffba;
}

#updateProfile form{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#updateProfile form p {
    text-align: end;
    padding-right: 20px;
    font-weight: bold;
    font-size: 1em;
}

#update{
    grid-column: 1 / 3;
}

#updateProfile textarea{
    height: 150px;
}

#updateProfile form input, #updateProfile textarea{
    border: 1px solid rgb(168, 167, 167);
    width: 80%;
    color: rgb(68, 68, 68);
}

::-webkit-input-placeholder{
    color: rgb(97, 97, 97);
}

#updateProfile form input:focus {
    border: 1px solid rgb(168, 167, 167);
    outline: none;
}

#update {
    background-color: #ecc81a;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 0;
    border: none;
    width: max-content;
    justify-self: end;
    margin: 20px 0;
}

#update:hover{
    background-color: goldenrod;
}


#navCont ul li:nth-of-type(2){
    display: none;
}