body{
    background-image: url("https://i.imgur.com/pesT6bv.jpg");
}

#userCont{
    height: auto;
    padding: 0.5in;
    box-sizing: border-box;
    width: 80vw;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #eee;
}

#userCont>div{
    padding: 0.25in 0.5in; 
}

div>h3{    
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

p{
    font-family: 'Quicksand', sans-serif;
}

table{
    border: 1px solid#eee;
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
}

th{
    text-align: left;
    font-weight: 500;
    color: #888;
    text-transform: uppercase;    
    font-family: 'Raleway', sans-serif;
}

th, td{
    border: 1px solid rgb(199, 198, 198);
    padding: 10px 20px;
}

td{    
    font-family: 'Quicksand', sans-serif;
}

tr:nth-of-type(1):hover{
    background-color: transparent;
}
tr:hover{
    background-color: #f8ffba;
}