{% extends 'templates/baseAdmin.twig' %}

{% block title %}
    Bookings | Leelas Motel
{% endblock %}

{% block content %}
    {% include 'templates/partials/admin/navigation.twig' %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bookings</a>
                </div>
                <div class="collapse navbar-collapse">


                    <ul class="nav navbar-nav navbar-right">
                        <li onclick="logout();">
                            <a id="logout" href="#">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 id="status-heading" class="title"> All Bookings</h4>
                                <p class="category">Below bookings are in order of new to old.</p>
                            </div>

                            <div style="display: flex; justify-content: space-between; flex-wrap: wrap">


                                <div style="display: flex;margin: 15px;">
                                    <input class="form-control" id="search" style="max-width: 140px;text-transform:uppercase; min-width: 160px; order: -1" placeholder="Search...">
                                    <button id="search-i" type="submit" style="height:40px;" class="btn btn-success btn-fill ">
                                        <i class="fa fa-search" style="font-size: 18px"></i>
                                    </button>
                                </div>




                            </div>

                            <div class="content table-responsive table-full-width" style="min-height:34vh">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th scope="col">Action</th>
                                    <th scope="col">Booking Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>

                                    <th scope="col">Check In</th>
                                    <th scope="col">Check Out</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Room</th>
                                    <th scope="col">Detail</th>
                                    </thead>
                                    <tbody id="tBody">
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="page-prop">
                                <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin: auto 15px;">
                                    <nav><ul class="pagination">
                                            <li>1</li>
                                        </ul></nav>


                                    <div id="action-container" style="display: flex;">
                                        <select id="action-selector" class="form-control" id="recordsPerPage" style="width:180px;">
                                            <option selected>What to do?</option>
                                            <option>Completed</option>
                                            <option>Cancel</option>
                                        </select>
                                        <button style="display: inline-block;" class="form-control btn-info btn-fill" id="action-btn">Submit
                                            <style type="text/css">
                                                #action-btn:focus {
                                                    background-color: #1b96af;
                                                }
                                            </style>
                                        </button>

                                    </div>

                                    <p id="rowIndicator" class="hidden-xs" style="margin: 10px 0px;"></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    {% include 'templates/partials/admin/footer.twig' %}
{% endblock %}

{% block pageJs %}
    <script type="text/javascript" src="{{ base_url() }}/admin/js/jquery.simplePagination.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/admin/js/bookings.js"></script>

{% endblock %}

