{% extends 'templates/baseAdmin.twig' %}

{% block title %}
    Bookings | Leelas Motel
{% endblock %}

{% block pageCss %}
{% endblock %}

{% block content %}
    {% include 'templates/partials/admin/sidebar.twig' with {'bookings': 'active'} %}
    <div class="main-panel">
        {% include 'templates/partials/admin/navigation.twig' with {'foo':'booking', 'bar': 'detail'}%}



        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 id="status-heading" class="title"> All Bookings</h4>
                                <p class="category">Below bookings are in order of new to old.</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    {% include 'templates/partials/admin/footer.twig' %}
{% endblock %}

{% block pageJs %}
    <script type="text/javascript" src="{{ base_url() }}/admin/js/bookingDetail.js"></script>

{% endblock %}

