{% extends 'templates/baseAdmin.twig' %}

{% block title %}
    Website Management | Leelas Motel
{% endblock %}

{% block pageCss %}
    <link rel="stylesheet" href="{{ base_url() }}/admin/css/webEdit.css">
{% endblock %}

{% block content %}
    {% include 'templates/partials/admin/sidebar.twig' with {'webedit': 'active'} %}
    <div class="main-panel">
        {% include 'templates/partials/admin/navigation.twig' with {'foo':'website', 'bar':'management'}%}


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- OrderForm-->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Upload Images</h4>
                            </div>
                            <span id="customerSpan" style="margin:15px;color:red;font-size:12px;" class="hidden">Fields Marked * are required!</span>
                            <div class="content">
                                <form id="form-box" action="{{ path_for('admin.webedit') }}" method="post" enctype="multipart/form-data">
                                    <div class="row">

                                        <div class="col-md-10">
                                            <div class="form-group">
                                            <div>
                                                    <p>Set Category: </p>
                                                    
                                                <div>
                                                <p style="padding: 0 15px;display: inline-block">Upload Pictures of </p>
                                                <select name="category" id="status-selector-pictures" class="form-control" id="recordsPerPage" style="width:150px;margin-bottom: 15px; display: inline-block">
                                                    <option value="standardRoom">Standard Rooms</option>
                                                    <option value="deluxRoom">Delux Rooms</option>
                                                    <option value="royalRoom">Royal Rooms</option>
                                                </select>
                                                </div>
                                            </div>
                                                <p>
                                                    <label>Add files (up to 3): </label><br/>
                                                    <input type="file" name="example2[]" multiple="multiple"/><br/>
                                                </p>
                                                <input type="submit" id="upload-btn" class="filebtn"  name="submit" value="Upload File Now" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Set Price</h4>
                            </div>
                            <span id="customerSpan" style="margin:15px;color:red;font-size:12px;" class="hidden">Fields Marked * are required!</span>
                            <div class="content">
                                <form class="form-inline" id="form-box" action="{{ path_for('admin.webedit') }}" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <p style="padding: 0 15px;">Set category and enter the price : </p>
                                        <div class="col-md-4">
                                            <div style="display: flex; margin: 15px;">
                                                <select id="status-selector" class="form-control" id="recordsPerPage" style="width:150px;">
                                                    <option value="Category">Category</option>
                                                    <option value="standard">Standard Rooms</option>
                                                    <option value="delux">Delux Rooms</option>
                                                    <option value="royal">Royal Rooms</option>
                                                </select>
                                                <input id="price-input" style="margin-left: 20px;" type="number" class="form-control"placeholder="Price">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                                <button id="price-btn" class="filebtn" type="button" >Set Price</button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

        </div>




    </div>

    {% include 'templates/partials/admin/footer.twig' %}
{% endblock %}

{% block pageJs %}
    <script type="text/javascript" src="{{ base_url() }}/admin/js/webedit.js"></script>

{% endblock %}

