{% extends 'templates/baseAdmin.twig' %}

{% block title %}
    Dashboard | Leelas Motel
{% endblock %}

{% block content %}
    {% include 'templates/partials/admin/navigation.twig' %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Website Management</a>
                </div>
                <div class="collapse navbar-collapse">


                    <ul class="nav navbar-nav navbar-right">
                        <li onclick="logout();">
                            <a id="logout" href="#">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- OrderForm-->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Upload Images</h4>
                            </div>
                            <span id="customerSpan" style="margin:15px;color:red;font-size:12px;" class="hidden">Fields Marked * are required!</span>
                            <div class="content">
                                <form id="form-box" action="{{ path_for('admin.webedit') }}" method="post" enctype="multipart/form-data">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <p>
                                                    <label>Add files (up to 2): </label><br/>
                                                    <input type="file" name="example2[]" multiple="multiple"/><br/>
                                                    <input type="text" id="category" name="category" value="mainBanner" style="display:none;">
                                                </p>



                                                <input type="submit" id="upload-btn"  name="submit" value="Upload File Now" >
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </form>


                                <button id="price-btn" type="button" >Set Price</button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

        </div>




    </div>

    {% include 'templates/partials/admin/footer.twig' %}
{% endblock %}

{% block pageJs %}
    <script type="text/javascript" src="{{ base_url() }}/admin/js/webedit.js"></script>

{% endblock %}

