<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            <a href="{{ path_for('admin.dashboard') }}">Leelas Motel</a>, made with love by CodeSamurai.
        </p>
    </div>
</footer>
