<div>
    <div>
    <h1 style="font-family:'Raleway', sans-serif; padding:0.2in;padding-top: 0; margin-left:0.25in; ">LEELA'S MOTEL</h1>
    </div>
    <div>
        <ul>
            <li>
                <i class="material-icons">location_on</i>Lorem ipsum</li>

            <li>
                <i class="material-icons">phone</i>+91 334 556 2314</li>

            <li>
                <i class="material-icons">mail_outline</i>Lorem ipsum</li>
        </ul>
    </div>

    <div>
        <ul>
            <li>PAGE SITE</li>
            <li>
                <a href="#">Guest Book</a>
            </li>
            <li>
                <a href="#">Gallery</a>
            </li>
            <li>
                <a href="#">Restaurant</a>
            </li>
            <li>
                <a href="#">Event</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>ABOUT</li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Room</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>FOLLOW US</li>
            <li>
                <a href="#">FaceBook</a>
            </li>
            <li>
                <a href="#">Twitter</a>
            </li>
            <li>
                <a href="#">GooglePlus</a>
            </li>
        </ul>
    </div>
</div>